<!DOCTYPE html>
<html>
  <head>
    <title>CS-MySQL-Portafolio</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
  </head>
  <body>
    <!-- Intro  -->  
    <header id="home">
      <div class="text">
        <h1>MySQL</h1>
        <p align="justify">
        Bases de datos con consultas avanzadas y demás, desde lo más básico hacia algo más complicado.
        </p>
        <i>Seguir para ver más a detalle.</i>
        <!--<a href="#"> Descargar</a>-->
      </div>
      <div class="pic">
        <img src="assets/MYSQL-CS.png" alt="App-page">
      </div>
    </header>
    <!-- espacios  -->    
    <div class="cAntFooter"></div>    
    <div class="cFooter"></div>
    <!-- Sección de proyectos -->
    <div style="padding-left: 50px; padding-right: 50px;"id="features">
      <div class="container">
        <div class="col">
          <img src="assets/MYSQL-CS.png" style="max-width:100px;">
          <div>
            <h2>MySQL</h2>
            <p align="justify">
              Bases de datos con consultas avanzadas.
            </p>
            <!--<a download="Prueba" href="assets/video.mp4"> Ver más</a>-->
            <a href="">Ver en <i class="bi bi-github"></i></a>
          </div>
        </div> 
        <div class="col">
          <img src="assets/JAVA-MYSQL-CS.png" style="max-width:100px;">
          <div>
            <h2>Java EE / SE + MySQL</h2>
            <p align="justify">
              Aplicaciones de escritorio o web en Java con MySQL.
            </p>
            <a href="">Ver en <i class="bi bi-github"></i></a>
          </div>
        </div> 
        <div class="col">
          <img src="assets/MEAN-CS.png" style="max-width:100px;">
          <div>
            <h2>MEAN STACK</h2>
            <p align="justify">
              Aplicaciones tanto solo backend como fullstack MEAN.
            </p>
            <a href="">Ver en <i class="bi bi-github"></i></a>
          </div>
        </div> 
      </div>
    </div> 
     <!-- espacios  -->    
     <div class="cAntFooter"></div>    
     <div class="cFooter"></div>
     <!-- Sección de proyectos -->
     <div style="padding-left: 50px; padding-right: 50px;"id="features">
       <div class="container">
         <div class="col">
           <img src="assets/MYSQL-CS.png" style="max-width:100px;">
           <div>
             <h2>MySQL</h2>
             <p align="justify">
               Bases de datos con consultas avanzadas.
             </p>
             <!--<a download="Prueba" href="assets/video.mp4"> Ver más</a>-->
             <a href="">Ver en <i class="bi bi-github"></i></a>
           </div>
         </div> 
         <div class="col">
           <img src="assets/JAVA-MYSQL-CS.png" style="max-width:100px;">
           <div>
             <h2>Java EE / SE + MySQL</h2>
             <p align="justify">
               Aplicaciones de escritorio o web en Java con MySQL.
             </p>
             <a href="">Ver en <i class="bi bi-github"></i></a>
           </div>
         </div> 
         <div class="col">
           <img src="assets/MEAN-CS.png" style="max-width:100px;">
           <div>
             <h2>MEAN STACK</h2>
             <p align="justify">
               Aplicaciones tanto solo backend como fullstack MEAN.
             </p>
             <a href="">Ver en <i class="bi bi-github"></i></a>
           </div>
         </div> 
       </div>
     </div> 
      <!-- espacios  -->    
    <div class="cAntFooter"></div>    
    <div class="cFooter"></div>
    <!-- Sección de proyectos -->
    <div style="padding-left: 50px; padding-right: 50px;"id="features">
      <div class="container">
        <div class="col">
          <img src="assets/MYSQL-CS.png" style="max-width:100px;">
          <div>
            <h2>MySQL</h2>
            <p align="justify">
              Bases de datos con consultas avanzadas.
            </p>
            <!--<a download="Prueba" href="assets/video.mp4"> Ver más</a>-->
            <a href="">Ver en <i class="bi bi-github"></i></a>
          </div>
        </div> 
        <div class="col">
          <img src="assets/JAVA-MYSQL-CS.png" style="max-width:100px;">
          <div>
            <h2>Java EE / SE + MySQL</h2>
            <p align="justify">
              Aplicaciones de escritorio o web en Java con MySQL.
            </p>
            <a href="">Ver en <i class="bi bi-github"></i></a>
          </div>
        </div> 
      </div>
    </div> 
  </body>
</html>
