<!DOCTYPE html>
<html>
  <head>
    <title>CS-MySQL-Portafolio</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
  </head>
  <body>
    <!-- Intro  -->  
    <header id="home">
      <div class="text">
        <h1>MySQL</h1>
        <p align="justify">
        Bases de datos con consultas avanzadas y demás, desde lo más básico hacia algo más complicado.
        </p>
        <i>Seguir para ver más a detalle.</i>
        <!--<a href="#"> Descargar</a>-->
      </div>
      <div class="pic">
        <img src="assets/MYSQL-CS.png" alt="App-page">
      </div>
    </header>
    <!-- espacios  -->    
    <div class="cAntFooter"></div>    
    <div class="cFooter"></div>
    <!-- Sección de proyectos -->
    <div style="padding-left: 50px; padding-right: 50px;"id="features">
      <div class="container">
        <div class="col">
          <img src="assets/MYSQL-CS.png" style="max-width:100px;">
          <div>
            <h2>DB #1</h2>
            <p align="justify">
              Base de datos de referencia para algunas bases de datos.
            </p>
            <!--<a download="Prueba" href="assets/video.mp4"> Ver más</a>-->
            <a href="https://github.com/CarlosSelman/MySQL-Base-de-algunos-Laboratorios.git">Ver en <i class="bi bi-github"></i></a>
          </div>
        </div> 
        <div class="col">
          <img src="assets/MYSQL-CS.png" style="max-width:100px;">
          <div>
            <h2>DB #2</h2>
            <p align="justify">
              Laboratorio con diversos tipos de consultas.
            </p>
            <a href="https://github.com/CarlosSelman/MySQL-DB-A.git">Ver en <i class="bi bi-github"></i></a>
          </div>
        </div> 
        <div class="col">
          <img src="assets/MYSQL-CS.png" style="max-width:100px;">
          <div>
            <h2>DB #3</h2>
            <p align="justify">
              Laboratorio con diversos tipos de consultas avanzadas.
            </p>
            <a href="https://github.com/CarlosSelman/MySQL-DB-B.git">Ver en <i class="bi bi-github"></i></a>
          </div>
        </div> 
      </div>
    </div> 
     <!-- espacios  -->    
     <div class="cAntFooter"></div>    
     <div class="cFooter"></div>
     <!-- Sección de proyectos -->
     <div style="padding-left: 50px; padding-right: 50px;"id="features">
       <div class="container">
         <div class="col">
           <img src="assets/MYSQL-CS.png" style="max-width:100px;">
           <div>
             <h2>DB #4</h2>
             <p align="justify">
               Laboratorio realizado con diversos tipos de consultas avanzadas.
             </p>
             <!--<a download="Prueba" href="assets/video.mp4"> Ver más</a>-->
             <a href="https://github.com/CarlosSelman/MySQL-DB-C.git">Ver en <i class="bi bi-github"></i></a>
           </div>
         </div> 
         <div class="col">
           <img src="assets/MYSQL-CS.png" style="max-width:100px;">
           <div>
             <h2>DB #5</h2>
             <p align="justify">
              Laboratorio de consultas avanzadas, integrando funciones integradas.
             </p>
             <a href="https://github.com/CarlosSelman/MySQL-DB-D.git">Ver en <i class="bi bi-github"></i></a>
           </div>
         </div> 
         <div class="col">
           <img src="assets/MYSQL-CS.png" style="max-width:100px;">
           <div>
             <h2>DB #6 - (Clínica)</h2>
             <p align="justify">
              Base de datos de una clínica, que cuenta con sus respectivas consultas. 
             </p>
             <a href="https://github.com/CarlosSelman/MySQL-DB-Clinica.git">Ver en <i class="bi bi-github"></i></a>
           </div>
         </div> 
       </div>
     </div> 
      <!-- espacios  -->    
    <div class="cAntFooter"></div>    
    <div class="cFooter"></div>
    <!-- Sección de proyectos -->
    <div style="padding-left: 50px; padding-right: 50px;"id="features">
      <div class="container">
        <div class="col">
          <img src="assets/MYSQL-CS.png" style="max-width:100px;">
          <div>
            <h2>DB #7 - (Guía Telefónica)</h2>
            <p align="justify">
              Base de datos de una guía telefónica, que cuenta con sus respectivas consultas.
            </p>
            <!--<a download="Prueba" href="assets/video.mp4"> Ver más</a>-->
            <a href="https://github.com/CarlosSelman/MySQL-DB-Guia-Telefonica.git">Ver en <i class="bi bi-github"></i></a>
          </div>
        </div> 
        <div class="col">
          <img src="assets/MYSQL-CS.png" style="max-width:100px;">
          <div>
            <h2>DB #8 - (Cafetería)</h2>
            <p align="justify">
              Esta es una base de datos de un proyecto para una cafetería o restaurante, la cual cuenta con sus respectivas consultas.
            </p>
            <a href="https://github.com/CarlosSelman/MySQL---Cafeteria.git">Ver en <i class="bi bi-github"></i></a>
          </div>
        </div> 
      </div>
    </div> 
  </body>
</html>
