<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        
            <!-- 
                <div class="brand">
                <h2>Logo</h2>
            </div>
            <div class="nav">
                <a href="#"> Download</a>
            </div>
            -->
            

        <header id="home">
            <div class="text">
                <h1>Bienvenido <br> Amazing Smart Watch App</h1>
                <p>
                    Nulla aliquet, erat a egestas lacini, leo libero dapibus nisl, quis pulvinar dolor justo id turpis. 
                    Nulla odio orci.
                </p>
                <a href="#"> Download</a>
            </div>
            <div class="pic">
                <img src="assets/IMG-HEADER-HOME.png" alt="App-page">
            </div>
        </header>
        
        <div class="cAntFooter"></div>
        
        <div class="cFooter"></div>
        <div id="features">
            <div class="container">
               <div class="col">
                    <img src="assets/MYSQL-CS.png" style="max-width:100px;">
                <div>
                    <h2>MySQL</h2>
                    <p>
                        Presiona para ver algunas bases de datos junto con laboratorios con consultas avanzadas.
                    </p>
                </div>
               </div> 
               <div class="col">
                <img src="assets/JAVA-MYSQL-CS.png" style="max-width:100px;">
                <div>
                    <h2>Java EE / SE + MySQL</h2>
                    <p>
                        Presiona para ver la aplicaciones de escritorio o web que utilizan MySQL como base de datos.
                    </p>
                </div>
               </div> 

               <div class="col">
                <img src="assets/MEAN-CS.png" style="max-width:100px;">
                <div>
                    <h2>MEAN STACK</h2>
                    <p>
                        Presiona para ver las aplicaciones tanto solo backend como fullstack utilizando como base estas tecnologías.
                    </p>
                </div>
               </div> 

            </div>
        </div>
        <div class="cFooter"></div>
        
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div align="center" class="carousel-inner">
              <div class="carousel-item active">
                 <img style="max-width:300px;"src="../../../assets/DBS-CS-C.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img style="max-width:300px;"src="../../../assets/MYSQL-CS.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img style="max-width:300px;"src="../../../assets/mongodb-cs.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img style="max-width:300px;"src="../../../assets/MYSQL-CS.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img style="max-width:300px;"src="../../../assets/MYSQL-CS.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

    </body>
</html>
