<!DOCTYPE html>
<html>
  <head>
    <title>CS-Inicio-Portafolio</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
  </head>
  <body>
    <!-- Intro  -->  
    <header id="home">
      <div class="text">
        <h1>Bienvenido(a) a mi Portafolio Virtual!</h1>
        <p align="justify">
         Aquí podrás encontrar un portafolio de proyectos y bases de datos realizadas por mi persona, además de las tecnologías utilizadas en las mismas.
        </p>
        <p><strong>- Carlos Andres Selman David</strong></p>
        <!--<a href="#"> Descargar</a>-->
      </div>
      <div class="pic">
        <img src="assets/IMG-HEADER-HOME.png" alt="App-page">
      </div>
    </header>
    <!-- espacios  -->    
    <div class="cAntFooter"></div>    
    <div class="cFooter"></div>
    <!-- Sección de proyectos -->
    <div style="padding-left: 50px; padding-right: 50px;"id="features">
      <div class="container">
        <div class="col">
          <img src="assets/MYSQL-CS.png" style="max-width:100px;">
          <div>
            <h2>MySQL</h2>
            <p align="justify">
              Bases de datos con consultas avanzadas.
            </p>
            <a href="#"> Ver más</a>
          </div>
        </div> 
        <div class="col">
          <img src="assets/JAVA-MYSQL-CS.png" style="max-width:100px;">
          <div>
            <h2>Java EE / SE + MySQL</h2>
            <p align="justify">
              Aplicaciones de escritorio o web en Java con MySQL.
            </p>
            <a href="#"> Ver más</a>
          </div>
        </div> 
        <div class="col">
          <img src="assets/MEAN-CS.png" style="max-width:100px;">
          <div>
            <h2>MEAN STACK</h2>
            <p align="justify">
              Aplicaciones tanto solo backend como fullstack MEAN.
            </p>
            <a href="#"> Ver más</a>
          </div>
        </div> 
      </div>
    </div>

    <!-- espacios  -->  
    <div class="cFooter"></div>
      <!-- Sección de Carrusel -->  
      <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 16"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="16" aria-label="Slide 17"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="17" aria-label="Slide 18"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="18" aria-label="Slide 19"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="19" aria-label="Slide 20"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="20" aria-label="Slide 21"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="21" aria-label="Slide 22"></button>
        </div>
        <div align="center" class="carousel-inner">
          <div class="carousel-item active">
            <img style="max-width:300px;"src="../../../assets/DBS-CS-C.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/MYSQL-CS.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/mongodb-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/TD-CS.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/java-ee-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/java-se-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/php-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/nodejs-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/momentjs-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/express-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/jquery-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/angular-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/html-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/css-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/js-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/ts-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/fullcalendar-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/FD-CS.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/bootstrap-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/bootstrapicons-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/angular-material-cs.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img style="max-width:300px;"src="../../../assets/sweetalert-2-cs.png" class="d-block w-100" alt="...">
          </div>   
          <!-- 
            <div class="carousel-item">
              <video autoplay controls src="assets/video.mp4" class="d-block w-100" style="max-width:300px;"></video>
            </div>
          -->
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </body>
</html>
