<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <img src="assets/CS-NAV.png" style="max-width:60px" alt="App-page">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><strong>Portafolio</strong></a>
                      </li>
                    </ul>
                    <form class="d-flex">
                      <!-- 
                      <button class="btn btn-outline-dark" type="submit"><i class="bi bi-github"></i></button>
                      <button class="btn btn-outline-primary" type="submit"><i class="bi bi-linkedin"></i></button>
                      -->
                    </form>
                  </div>
                </div>
              </nav>
            <!-- 
                <div class="brand">
                <h2>Logo</h2>
            </div>
            <div class="nav">
                <a href="#"> Download</a>
            </div>
            -->
            

        <header id="home">
            <div class="text">
                <h1>Carlos <br> Amazing Smart Watch App</h1>
                <p>
                    Nulla aliquet, erat a egestas lacini, leo libero dapibus nisl, quis pulvinar dolor justo id turpis. 
                    Nulla odio orci.
                </p>
                <a href="#"> Download</a>
            </div>
            <div class="pic">
                <img src="assets/IMG-HEADER-HOME.png" alt="App-page">
            </div>
        </header>
        
        <div class="cAntFooter"></div>
        
        <div class="cFooter"></div>
        <div id="features">
            <div class="container">
                
               <div class="col">
                <img src="assets/CS-NAV.png" style="max-width:60px;">
                <div>
                    <h2>MySQL</h2>
                    <p>
                        Presiona para ver algunas bases de datos junto con laboratorios con consultas avanzadas.
                    </p>
                </div>
               </div> 
               <div class="col">
                <img src="assets/CS-NAV.png" style="max-width:60px;">
                <div>
                    <h2>Awesome Design</h2>
                    <p>
                        Lorem Ipsum is slechts een preksts uit het drukkerij- en
                        zetterija Lorem Ipsum is de stan.

                    </p>
                </div>
               </div> 

               <div class="col">
                <img src="assets/CS-NAV.png" style="max-width:60px;">
                <div>
                    <h2>Easy to Use</h2>
                    <p>
                        Lorem Ipsum is slechts een preksts uit het drukkerij- en
                        zetterija Lorem Ipsum is de stan.

                    </p>
                </div>
               </div> 

            </div>
        </div>
    
       
        
        <div class="cFooter"></div>
        <footer>
            <div class="cFooter"></div>
            <nav class="navbar navbar-light bg-light">
                  <div class="btn-group " role="group"> 
                    <button class="btn btn-outline-dark" type="submit"><i class="bi bi-github"></i></button>
                    <button class="btn btn-outline-primary" type="submit"><i class="bi bi-linkedin"></i></button>
                  </div>
                
              </nav>
        </footer>
    </body>
</html>
<router-outlet></router-outlet>